.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.idea/
.metadata
android/.gradle/
android/app/debug
android/app/profile
android/app/release
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
web/.dart_tool/
